  *, *::before, *::after {
    box-sizing: inherit; }
  * {
    margin: 0;
    padding: 0;
}
.logo {
  background-image: url('favicon.ico');
  background-size: contain;
  width: 55px;
  height: 55px;
  margin: 0;
  position: absolute;
    left: 10px;

}
.root {
  --main-color: #a9f52f;
}
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  body {
    font-family: Young serif, sans-serif;
}
  @media (min-width:999px) {
    #navbar  {
      font-size: 1.3rem !important;
    } 
    .welcome_section h1 {
        font-size: 3.3rem !important;
    }
    .welcome_section p {
        font-size: 1.4rem !important;
    }
    
}
  @media (max-width:365px) {  
    #navbar  {
        font-size: 0.8rem !important;
      } 
    .welcome_section h1 {
        font-size: 1.2rem !important;
    }
    .welcome_section p {
        font-size: 0.9rem !important;
    }
}
    /* welcome section */-->
  .welcome_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(-62deg, #181711 10%, #3a3d40 100%);
    }
  .welcome_section h1 {
    color: white;
    font-size: 2.3rem;
    font-weight: 400;
}   
  .welcome_section p {
    color: #a9f52f;
}   
  #navbar {
    width: 100%;
    background-color: #a9f52f;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
  #navbar a {
    text-decoration: none;
    color: #3a3d40;
    display: flex;
    padding: 10px;
    font-size: 1.1em;

  }
  /* Projects section */-->
  #projects_section {
    background-color: rgb(163, 194, 163);
    padding: 30px;
    color: #3a3d40;
  }
  #projects_section a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  #h2project {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 40px;
    font-size: 2.5rem;
  }
  #works div {
    width: 40%;
    height: 150px;
  } 
  .project-title {
    background-color: #3a3d40;
    text-decoration: none;
    font-size: 1.4rem;
  }
  .code {
    text-decoration: none;
  }
  /* Contact section */-->
  #contact_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    color: white;
    background-image: linear-gradient(-62deg, #181711 10%, #3a3d40 100%);
  }
  #contact_section p {
    text-align: center;
    font-size: 1.2rem;
  }
  .contact_info h2 {
    font-size: 2.9rem;
  }
  .contact_links {
    padding: 20px;
  }
  .contact_links a {
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  .contact-details {
    transition: transform 0.3s ease-out;
  }

  /* Footer */
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    background: #3a3d40;
    border-top: 4px solid rgb(169, 245, 47);
    align-items: center;
  }
  footer p {
    margin: 1rem;
    font-size: 0.9em;
    color: white;}

  footer a {
    color: white;
    text-decoration: none;
  }
  /* Footer ends */

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-title {
  padding: 2rem 0.5rem;
}
.project {
  background-color: #a9f52f;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}


img { 
  display: block; 
  width: 100%;
} 

.project-image { 
  height: calc(100% - 6.8rem); 
  width: 100%; 
  object-fit: cover;
} 

.code { 
  color: green; 
  transition: color 0.3s ease-out;
} 

.project:hover .code  { 
  color: #ff7f50;
} 

img.logo-footer {
  display: inline;
  width: 20px;
  border-radius: 20px;
}